/**align Start**/
.horizontal-left {
  justify-content: flex-start;
  text-align: start;
}

.horizontal-middle {
  justify-content: center;
  text-align: center;
}

.horizontal-right {
  justify-content: flex-end;
  text-align: end;
}

.vertical-top {
  align-items: flex-start;
}

.vertical-middle {
  align-items: center;
}

.vertical-bottom {
  align-items: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

/**align  End**/
