:root {
  --grid-gap-x: 10px;
  --grid-gap-y: 10px;
}

.grid-container {
  overflow: hidden;
}

[class*=grid-cols-] {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: calc(var(--grid-gap-y) * -0.5) calc(var(--grid-gap-x) * -0.5);
}

[class*=grid-cols-] > * {
  padding: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
  box-sizing: border-box;
  float: left;
  margin: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
}

.grid-cols-1 > * {
  width: calc(100% - var(--grid-gap-x));
}

.grid-cols-2 > * {
  width: calc(50% - var(--grid-gap-x));
}

.grid-cols-3 > * {
  width: calc(33.3333333333% - var(--grid-gap-x));
}

.grid-cols-4 > * {
  width: calc(25% - var(--grid-gap-x));
}

.grid-cols-6 > * {
  width: calc(16.6666666667% - var(--grid-gap-x));
}

.grid-cols-8 > * {
  width: calc(12.5% - var(--grid-gap-x));
}

.grid-cols-12 > * {
  width: calc(8.3333333333% - var(--grid-gap-x));
}

.grid-cols-24 > * {
  width: calc(4.1666666667% - var(--grid-gap-x));
}

@media (min-width: 390) {
  .grid-cols-xs-1 > * {
    width: calc(100% - var(--grid-gap-x));
  }
  .grid-cols-xs-2 > * {
    width: calc(50% - var(--grid-gap-x));
  }
  .grid-cols-xs-3 > * {
    width: calc(33.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-xs-4 > * {
    width: calc(25% - var(--grid-gap-x));
  }
  .grid-cols-xs-6 > * {
    width: calc(16.6666666667% - var(--grid-gap-x));
  }
  .grid-cols-xs-8 > * {
    width: calc(12.5% - var(--grid-gap-x));
  }
  .grid-cols-xs-12 > * {
    width: calc(8.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-xs-24 > * {
    width: calc(4.1666666667% - var(--grid-gap-x));
  }
}
@media (min-width: 1280px) {
  .grid-cols-sm-1 > * {
    width: calc(100% - var(--grid-gap-x));
  }
  .grid-cols-sm-2 > * {
    width: calc(50% - var(--grid-gap-x));
  }
  .grid-cols-sm-3 > * {
    width: calc(33.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-sm-4 > * {
    width: calc(25% - var(--grid-gap-x));
  }
  .grid-cols-sm-6 > * {
    width: calc(16.6666666667% - var(--grid-gap-x));
  }
  .grid-cols-sm-8 > * {
    width: calc(12.5% - var(--grid-gap-x));
  }
  .grid-cols-sm-12 > * {
    width: calc(8.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-sm-24 > * {
    width: calc(4.1666666667% - var(--grid-gap-x));
  }
}
@media (min-width: 1440px) {
  .grid-cols-md-1 > * {
    width: calc(100% - var(--grid-gap-x));
  }
  .grid-cols-md-2 > * {
    width: calc(50% - var(--grid-gap-x));
  }
  .grid-cols-md-3 > * {
    width: calc(33.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-md-4 > * {
    width: calc(25% - var(--grid-gap-x));
  }
  .grid-cols-md-6 > * {
    width: calc(16.6666666667% - var(--grid-gap-x));
  }
  .grid-cols-md-8 > * {
    width: calc(12.5% - var(--grid-gap-x));
  }
  .grid-cols-md-12 > * {
    width: calc(8.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-md-24 > * {
    width: calc(4.1666666667% - var(--grid-gap-x));
  }
}
@media (min-width: 1920px) {
  .grid-cols-lg-1 > * {
    width: calc(100% - var(--grid-gap-x));
  }
  .grid-cols-lg-2 > * {
    width: calc(50% - var(--grid-gap-x));
  }
  .grid-cols-lg-3 > * {
    width: calc(33.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-lg-4 > * {
    width: calc(25% - var(--grid-gap-x));
  }
  .grid-cols-lg-6 > * {
    width: calc(16.6666666667% - var(--grid-gap-x));
  }
  .grid-cols-lg-8 > * {
    width: calc(12.5% - var(--grid-gap-x));
  }
  .grid-cols-lg-12 > * {
    width: calc(8.3333333333% - var(--grid-gap-x));
  }
  .grid-cols-lg-24 > * {
    width: calc(4.1666666667% - var(--grid-gap-x));
  }
}