:root {
  --grid-gap-x: 10px;
  --grid-gap-y: 10px;
}

.grid-container {
  overflow: hidden;
}

[class*=grid-cols-] {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: calc(var(--grid-gap-y) * -0.5) calc(var(--grid-gap-x) * -0.5);
}

[class*=grid-cols-] > * {
  padding: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
  box-sizing: border-box;
  float: left;
  margin: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
}

.grid-cols-1 > * {
  width: calc(100% - var(--grid-gap-x));
}

.grid-cols-2 > * {
  width: calc(50% - var(--grid-gap-x));
}

.grid-cols-3 > * {
  width: calc(33.3333333333% - var(--grid-gap-x));
}

.grid-cols-4 > * {
  width: calc(25% - var(--grid-gap-x));
}

.grid-cols-5 > * {
  width: calc(20% - var(--grid-gap-x));
}

.grid-cols-6 > * {
  width: calc(16.6666666667% - var(--grid-gap-x));
}

.grid-cols-7 > * {
  width: calc(14.2857142857% - var(--grid-gap-x));
}

.grid-cols-8 > * {
  width: calc(12.5% - var(--grid-gap-x));
}

.grid-cols-9 > * {
  width: calc(11.1111111111% - var(--grid-gap-x));
}

.grid-cols-10 > * {
  width: calc(10% - var(--grid-gap-x));
}

.grid-cols-11 > * {
  width: calc(9.0909090909% - var(--grid-gap-x));
}

.grid-cols-12 > * {
  width: calc(8.3333333333% - var(--grid-gap-x));
}

.grid-cols-13 > * {
  width: calc(7.6923076923% - var(--grid-gap-x));
}

.grid-cols-14 > * {
  width: calc(7.1428571429% - var(--grid-gap-x));
}

.grid-cols-15 > * {
  width: calc(6.6666666667% - var(--grid-gap-x));
}

.grid-cols-16 > * {
  width: calc(6.25% - var(--grid-gap-x));
}

.grid-cols-17 > * {
  width: calc(5.8823529412% - var(--grid-gap-x));
}

.grid-cols-18 > * {
  width: calc(5.5555555556% - var(--grid-gap-x));
}

.grid-cols-19 > * {
  width: calc(5.2631578947% - var(--grid-gap-x));
}

.grid-cols-20 > * {
  width: calc(5% - var(--grid-gap-x));
}

.grid-cols-21 > * {
  width: calc(4.7619047619% - var(--grid-gap-x));
}

.grid-cols-22 > * {
  width: calc(4.5454545455% - var(--grid-gap-x));
}

.grid-cols-23 > * {
  width: calc(4.347826087% - var(--grid-gap-x));
}

.grid-cols-24 > * {
  width: calc(4.1666666667% - var(--grid-gap-x));
}