@use 'sass:math';

// Grids
// -------------------------------
$grid-gap: 10px !default;
$grid-gap-x: $grid-gap !default;
$grid-gap-y: $grid-gap !default;
$grid-nums: 24;
$grid-list: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$grid-responsive: (
  xs: 390px,
  sm: 1280px,
  md: 1440px,
  lg: 1600px
) !default;

:root {
  --grid-gap-x: #{$grid-gap-x};
  --grid-gap-y: #{$grid-gap-y};
}

.grid-container {
  overflow: hidden;
}

[class*='grid-cols-'] {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: calc(var(--grid-gap-y) * -0.5) calc(var(--grid-gap-x) * -0.5);
}

// class * with .col-
[class*='grid-cols-'] > * {
  padding: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
  box-sizing: border-box;
  float: left;
  //width: calc((100% / var(--list-num)) - var(--gap-x));
  margin: calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * 0.5);
}

// 10/12/24 grids
@each $grid-num in $grid-list {
  .grid-cols-#{$grid-num} > * {
    width: calc(#{math.percentage(math.div(1, $grid-num))} - var(--grid-gap-x));
  }
}

// 响应式网格 - 使用 min-width 移动优先
@each $breakpoint, $min-width in $grid-responsive {
  @media (min-width: $min-width) {
    @each $grid-num in $grid-list {
      .grid-cols-#{$breakpoint}-#{$grid-num} > * {
        width: calc(
          #{math.percentage(math.div(1, $grid-num))} - var(--grid-gap-x)
        );
      }
    }
  }
}
